.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.4rem;
    gap: 100px;
    margin-bottom: 10rem;
}

@media (max-width: 1024px) {
  .container {
    gap: 50px;
    margin-bottom: 6rem;
  }
}


/* ===== MOBILE (phones) ===== */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 4rem;
    padding: 0.3rem;
    margin-bottom: 4rem;
  }
}

