
.Container{

    width: 100%;
    height: auto;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 1rem;
}
.Container .Description {
    /* background-color: tomato; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 0.5rem;
}
.Container .Description h1{
    font-size: 2.5rem;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Container .Description p{
    text-align: center;
    font-size: 1.1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    line-height: 1.9rem;
}
.Container .ButtonCities{
    width: 100%;
    height: 5rem;
    margin-top: 1.3rem;
    /* background-color: aqua; */
    padding: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
}
.Container .ButtonCities button{
    width: 8rem;
    height: 2.5rem;
    background-color: transparent;
    border: 2px solid #7BBCB0;
    border-radius: 2rem;
    cursor: pointer;
}
.Container .ButtonCities .CurrenCity {
    background-color: #7BBCB0;
    color: #fff;
}
.Container .FullDescription{
    width: 100%;
    height: 40rem;
    padding: 1rem;
    position: relative;
    margin-bottom: 10rem;
    /* background-color: #7BBCB0; */
}
.DescriptionCity{

    width: 90%;
    height: 17rem;
    background-color: #fff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: -8rem;
    left: 3.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    /* gap:; */
}
.DescriptionCity .DescriptionTypoGraphy{
    /* background-color: #7BBCB0; */
    width: 40rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
    
}
.DescriptionCity .DescriptionTypoGraphy h1{
    font-size: 2.3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;

}
.DescriptionCity .DescriptionTypoGraphy p{
    font-size: 1.2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-weight: 300; */
    letter-spacing: 2px;
}
.DescriptionCity .TypeOfJourney{
    /* background-color: #7BBCB0; */
    width: 30rem;
    display: flex;
    padding: 0.7rem;
    align-items: start;
    flex-direction: column;
    gap: 10px;
}
.TypeOfJourney .typeContainer{
    /* background-color: rgb(94, 69, 64); */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.TypeOfJourney .typeContainer .type{
    background-color: #FFF;
     box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
.TypeOfJourney .typeContainer .type p{
    font-weight: 700;
}