
.add-booking-page {
  display: flex;
  font-family: Arial, sans-serif;
}

.form-container {
  flex: 1;
  padding: 30px;
  background: #f9fafb;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.form-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  color: #333;
}

.booking-form {
  display: flex;
  flex-direction: column;
  gap: 26px;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 24rem; /* max-w-96 */
  width: 100%;
  margin-top: 30px;
}

.booking-form input {
  padding: 16px 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  transition: border 0.2s;
}

.booking-form input:focus {
  border-color: #1e1e2f;
  outline: none;
}

.submit-btn {
  padding: 10px;
  background: #1e1e2f;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 22px;
  transition: background 0.3s;
}

.submit-btn:hover {
  background: #33334d;
}

.table-title {
  margin-left: 20px;
}
